<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Template based Editor</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery.contextMenu/jquery.contextMenu.css') }}" />
    {#% stylesheets filter="scssphp" output="css/jquery.contextMenu/jquery.contextMenu.css"
    "%kernel.root_dir%/Resources/assets/css/jquery.contextMenu/jquery.contextMenu.css" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %#}
    {% endblock %}



    {% block javascripts %}
        <script src="{{ asset('js/app.js') }}"></script>
        {# n'a jamais marché : retourne l'exception : Twig_Error_Runtime: An exception has been thrown during the rendering of a template ("Unable to generate a URL for the named route "_assetic_8dad0cc_0" as such route does not exist.") in @CodeExplorer/template-based-editor.twig at line 20.
        # mais les best practice symfony recommandent plutôt l'utilisation de GruntJS pour la gestion des asset d'un projet :
        {% javascripts filter="?jsqueeze" output="js/appContextMenu.js"
    "js/jquery.contextMenu/jquery.contextMenu.js"
    "js/jquery.contextMenu/jquery.ui.position.js"  %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        #}
        <script  src="{{ asset('js/jquery.contextMenu/jquery.ui.position.js') }}"></script>
        <script  src="{{ asset('js/jquery.contextMenu/jquery.contextMenu.js') }}"></script>
        <script  src="{{ asset('js/code_explorer/template-based-editor.js') }}"></script>
    {% endblock %}




    <template id="business-request">
        <div class="business-request">
            <p class="template-editor-online-help" contenteditable="true">Enter you request here.</p>
        </div>
    </template>
    <template id="template-template-editor-contextmenu">
        <menu type="context" id="template-editor-contextmenu">
            <menuitem onclick="tplbEditor.addTemplate('business-request')"></menuitem>
        </menu>
    </template>
    
</head>

<body contextmenu="template-editor-contextmenu">
<menu type="context" id="template-editor-contextmenu">
    <menuitem onclick="tplbEditor.addTemplate('business-request')">Ajouter une demande</menuitem>
    <menuitem onclick="tplbEditor.selectParent()">Selectionner le parent</menuitem>
</menu>
<div class="business-request" style="border-style:dotted"  contenteditable="true">
    <p class="template-editor-online-help" contenteditable="true" >Very early prototype level demo of "plaidoc" : a software platform integrated documentation in browser editor: <br>Right click to get the context menu of this demo, click the different menu items and read the text in the alert.<br>If the alert tells you that you should use the "select parent" menu to insert a DIV element, just do it and try the menu again.
    </p>
</div>
</body>